<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>illuminous</title>
    <link rel="stylesheet" text="text/css" href="./Style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav>

    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Illuminous</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li><a href="index">Index</a></li>
                    <li><a href="complaints">Complaints</a></li>
                    <li><a href="data">Data</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <section id="mainSection text-dark">
        <!--Main header and description-->
        <div>
            <h1> <i>WELCOME</i> </h1>
            <p> Boss… you were right. It’s not about changing the world. It’s about doing our best to leave the world…
                the way it is. It’s about respecting the will of others and believing in your own.” – Metal Gear Solid
                IV: Guns of the Patriots</p>
        </div>




    </section>

    <section id="subSectionII">
        <h1>WEB CREATOR</h1>

        <div class="container">

            <div class="card">
                <img src="me.jpg" width="200" height="450" alt="me" style="width:100%">
                <h1 style="color: black;">Likem Senaya</h1>
                <p class="roll number" style="color: black;">10180200215</p>
                <p style="color: black;">If you are going to game do it right. Here at illuminous we save you the
                    trouble of searching and looking for your perfect portable machine. We search amongst the best to
                    provide u with the best at a reasonable discount as well</p>

            </div>

        </div>

    </section>


    <section id="subSection">


        <div class="card text-dark">

            <img src="Razer Blade.jpg" width="300" height="200" alt="RAZER BLADE" style="width:100%">
            <h1>RAZER BLADE</h1>
            <p class="price">$2,999.11</p>
            <p>Intel Core i7-9750H 6 Core, NVIDIA GeForce RTX 2080 Max-Q, 15.6" FHD 1080p 240Hz, 16GB RAM, 512GB SSD,
                CNC Aluminum, Chroma RGB Lighting, Thunderbolt 3</p>
            <p><button id="RAZERBLADE">PURCHASE</button></p>
        </div>

        <div class="card text-dark">
            <img src="Alienware.jpg" width="300" height="200" alt="ALIENWARE" style="width:100%">
            <h1>ALIENWARE</h1>
            <p class="price">$2,149.99</p>
            <p>FHD IPS Display Gaming Laptop, i7-9750H (up to 4.5Ghz w/Turbo Boost), RTX 2070 8GB Max-Q Design, 32GB
                RAM, 512GB SSD, HDMI, Win 10 Home w/ Santex Accessory (512GB SSD)</p>
            <p><button id="ALIENWARE">PURCHASE</button></p>
        </div>

        <div class="card text-dark">
            <img src="Legion.jpg" width="300" height="200" alt="LEGION" style="width:100%">
            <h1>LEGION</h1>
            <p class="price">$1,829</p>
            <p>FHD (1920 X 1080) G-SYNC IPS Display i7-8750H Processor, 16GB DDR4 RAM, 512GB NVMe SSD, NVIDIA GeForce
                RTX 2080, Windows 10, 81HH0037US, Black (Renewed)</p>
            <p><button id="LEGION">PURCHASE</button></p>
        </div>
    </section>


    <section id="subSection">


        <div class="card text-dark">
            <img src="Asus.jpg" width="300" height="200" alt="ASUS" style="width:100%">
            <h1>ASUS</h1>
            <p class="price">$1,148.99</p>
            <p>Ultra Slim Gaming Laptop, 15.6” 144Hz FHD Display, GeForce GTX 1660 Ti Max-Q, AMD Ryzen 7 4800HS, 16GB
                DDR4, 1TB PCIe NVMe SSD, Gig+ Wi-Fi 6, Windows 10 Home, GA502IU-ES76</p>
            <p><button id="ASUS">PURCHASE</button></p>
        </div>

        <div class="card text-dark">
            <img src="Acer.jpeg" width="300" height="200" alt="ACER" style="width:100%">
            <h1>ACER</h1>
            <p class="price">$1,389.00</p>
            <p>Intel i7-10750H, NVIDIA GeForce RTX 2060 6GB, 15.6" Full HD 144Hz 3ms IPS Display, 16GB Dual-Channel
                DDR4, 512GB NVMe SSD, Wi-Fi 6, RGB Keyboard, PH315-53-72XD</p>
            <p><button id="ACER">PURCHASE</button></p>
        </div>


        <div class="card text-dark">
            <img src="MSI.jpg" width="300" height="200" alt="MSI" style="width:100%">
            <h1>MSI</h1>
            <p class="price">$2,299.00</p>
            <p>Raider 10SF-285 15.6" 240Hz 3ms Gaming Laptop Intel Core i7-10875H Full HD 144Hz 3ms IPS Display RTX2070
                16GB 512GB NVMe SSD Win10 VR Ready</p>
            <p><button id="MSI">PURCHASE</button></p>
        </div>

</body>

</html>

</section>




<section id="featuresSection">
    <h2>RULES</h2>
    <p>At illuminous we have three rules minor but important rules one must follow</p>

    <div id="divSection">
        <div><B>SEE</B></div>
        <div> <B>BUY</B></div>
        <div><B>HAVE FUN</B></div>
    </div>
</section>


<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modal-header justify-content-center" style="background-color: #000000;">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>

                    <h1 class="pb-1 pt-3 text-center" style="font-size: 50px;">
                        Razer Blade
                    </h1>
                    <div class="border-top border-dark w-300 mx-auto"></div>
                    <p class="" style="font-size: 17px;">
                        <b class="">CPU: </b> 2.3GHz Intel Core i7-10875H (8-core, 16MB cache, up to 5.1GHz)
                        <br>
                        <b class="">Graphics: </b> Nvidia GeForce RTX 200 Super Max-Q (8GB GDDR6) <br>
                        <b class="">RAM: </b> 16GB DDR4 (2,933MHz) <br>
                        <b class="">Screen: </b> 15-inch Full HD (1,920 x 1,080) IPS, 300Hz <br>
                        <b class="">Storage: </b> 1TB SSD (PCIe) <br>
                        <b class="">Weight: </b> 4.73 pounds (2.14kg)
                    </p>
                </div>


            </div>
            <div class="modal-footer justify-content-center" style="background-color: #000000;">
                <h1 style="color: white;">Razer Blade</h1>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modal-header justify-content-center" style="background-color: #000000;">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>

                    <h1 class="pb-1 pt-3 text-center" style="font-size: 50px;">
                        Alienware
                    </h1>
                    <div class="border-top border-dark w-300 mx-auto"></div>
                    <p class="" style="font-size: 17px;">
                        <b class="">CPU: </b> : 2.4GHz Intel Core i9-9980HK (8-core, 16MB cache, up to
                        5.0GHz) <br>
                        <b class="">Graphics: </b> Nvidia GeForce RTX 2080 (8GB GDDR6) <br>
                        <b class="">RAM: </b> 16GB DDR4 (2,66MHz) <br>
                        <b class="">Screen: </b> 17.3-inch Full HD (1,920 x 1,080) IPS, 144Hz<br>
                        <b class="">Storage: </b> 2 x 512GB RAID 0 SSD (PCIe) <br>
                        <b class="">Weight: </b> 5.80 pounds (2.63kg)
                    </p>
                </div>


            </div>
            <div class="modal-footer justify-content-center" style="background-color: #000000;">
                <h1 style="color: white;">Alienware</h1>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal3">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modal-header justify-content-center" style="background-color: #000000;">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>

                    <h1 class="pb-1 pt-3 text-center" style="font-size: 50px;">
                        Legion
                    </h1>
                    <div class="border-top border-dark w-300 mx-auto"></div>
                    <p class="" style="font-size: 17px;">
                        <b class="">CPU: </b> 2.20GHz Intel Core i7-8750H (hexa-core, 9MB cache, up to
                        4.10GHz) <br>
                        <b class="">Graphics: </b>Nvidia GeForce RTX 2070 with Max-Q Design (8GB GDDR5) <br>
                        <b class="">RAM: </b> 16GB DDR4 SDRAM <br>
                        <b class="">Screen: </b> 15.6" FHD (1920 x 1080), NVIDIA ® G-SYNC, (144 Hz refresh
                        rate) <br>
                        <b class="">Storage: </b> 256GB NVMe SSD, 1TB HDD <br>
                        <b class="">Weight: </b> 5.1 pounds (2.2kg)
                    </p>
                </div>


            </div>
            <div class="modal-footer justify-content-center" style="background-color: #000000;">
                <h1 style="color: white;">Legion</h1>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal4">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modal-header justify-content-center" style="background-color: #000000;">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>

                    <h1 class="pb-1 pt-3 text-center" style="font-size: 50px;">
                        Asus
                    </h1>
                    <div class="border-top border-dark w-300 mx-auto"></div>
                    <p class="" style="font-size: 17px;">
                        <b class="">CPU: </b> 2.6GHz Intel Core i7-10750H (6-core, 12MB cache, up to 5GHz)
                        <br>
                        <b class="">Graphics: </b>Nvidia GeForce GTX 1660 Ti (6GB GDDR6) <br>
                        <b class="">RAM: </b> 16GB DDR4 (3,200MHz)<br>
                        <b class="">Screen: </b> 15.6-inch Full HD (1,920 x 1,080) IPS, 144Hz <br>
                        <b class="">Storage: </b> 512GB SSD (PCIe) <br>
                        <b class="">Weight: </b> 4.2 pounds (1.9kg)
                    </p>
                </div>


            </div>
            <div class="modal-footer justify-content-center" style="background-color: #000000;">
                <h1 style="color: white;">Asus</h1>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal5">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modal-header justify-content-center" style="background-color: #000000;">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>

                    <h1 class="pb-1 pt-3 text-center" style="font-size: 50px;">
                        Acer
                    </h1>
                    <div class="border-top border-dark w-300 mx-auto"></div>
                    <p class="" style="font-size: 17px;">
                        <b class="">CPU: </b> 2.2GHz Intel Core i7-8750H (hexa-core, 9MB cache, up to 4.1GHz)
                        <br>
                        <b class="">Graphics: </b> Intel UHD Graphics 630; Nvidia GeForce GTX 1060 (6GB
                        GDDR5)<br>
                        <b class="">RAM: </b> 16GB DDR4 (2,666MHz) <br>
                        <b class="">Screen: </b> 15.6-inch FHD (1,920 x 1,080) ComfyView IPS (144Hz refresh
                        rate) <br>
                        <b class="">Storage: </b> 256GB PCIe SSD<br>
                        <b class="">Weight: </b> 5.95 pounds (2.7kg)
                    </p>
                </div>


            </div>
            <div class="modal-footer justify-content-center" style="background-color: #000000;">
                <h1 style="color: white;">Acer</h1>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal6">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modal-header justify-content-center" style="background-color: #000000;">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>

                    <h1 class="pb-1 pt-3 text-center" style="font-size: 50px;">
                        MSI
                    </h1>
                    <div class="border-top border-dark w-300 mx-auto"></div>
                    <p class="" style="font-size: 17px;">
                        <b class="">CPU: </b> Intel Core i9-10980HK (8 Core, 16MB Intel Smart Cache, up to 5.3GHz) <br>
                        <b class="">Graphics: </b> Nvidia GeForce RTX 2080 Super (Max-Q)<br>
                        <b class="">RAM: </b> 32 DDR4 2666MHz 2 Sockets; Max Memory 64GB <br>
                        <b class="">Screen: </b>15.6" FHD (1920x1080) IPS, 300Hz<br>
                        <b class="">Storage: </b> 1TB NVMe SSD <br>
                        <b class="">Weight: </b> 5.2 pounds (2.38kg)
                    </p>
                </div>


            </div>
            <div class="modal-footer justify-content-center" style="background-color: #000000;">
                <h1 style="color: white;">MSI</h1>
            </div>
        </div>
    </div>
</div>

<script src="main.js"></script>
</body>

</html>